*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--stone-100);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--stone-600);
}
