.container {
  max-width: 736px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 616px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}
